<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">

	<!-- ==================================== Gwt Services ==================================== -->

	<servlet>
		<servlet-name>editorRpcService</servlet-name>
		<servlet-class>com.la.runners.server.servlet.EditorServiceImpl
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>editorRpcService</servlet-name>
		<url-pattern>/editor/editorService</url-pattern>
	</servlet-mapping>

	<!-- ==================================== clag ==================================== -->

	<servlet>
		<servlet-name>clag</servlet-name>
		<servlet-class>novoda.clag.servlet.ClagServlet</servlet-class>
		<init-param>
			<param-name>converter</param-name>
			<param-value>novoda.clag.converter.json.SqliteJsonConverter</param-value>
		</init-param>
		<init-param>
			<param-name>contentClasses</param-name>
			<param-value>com.la.runners.shared.Run</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>clag</servlet-name>
		<url-pattern>/data/*</url-pattern>
	</servlet-mapping>

	<!-- ==================================== Welcome list ==================================== -->
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
</web-app>
